.body {
margin: 0px;

}

.fixed {
display: block;
text-align: center;
background-color: red;
height: 50px;
position: absolute;
width: 100%;


}

 .box{
margin-top: 100px;	
height: 100px;
 width: 25%;
padding: 5px;
 background-color: white;
 float: left;
border: 5px solid white;
box-sizing: border-box;

}

.p {
float: left;

}

.li {
list-style: none;

}

